.background{
  background-color: #5D8FC9;
}
.login-form{
  border-radius: 20px;
}
.input-field{
  outline-style: none;
  background-color: #ECF0FC;
  border-radius: 20px;
}
.btn-regular{
  width: 197px;
}